# File types to ignore
*.suo
*.user
*.dbg
*.isr
*.obs
*.pubxml
*.orig
*.rxlog
*.rxlog.data
*.stackdump
*.pdb
*.exe
*.dll
*.xml
*.cache

# Folders
/.vs/*
/TestResults/*

# Files

# Packages
/packages/*
